body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

#totalAmount {
  color: green;
  font-size: 24px;
}

.form input, .form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1e3c72;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
